<section class="panel panel-default guestinfopanel">
   <a class="panel-heading reservation-accordion collapsed" role="tab" id="headingThree" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
      <h4 class="panel-title">
         <span>3</span><strong>Guest Information</strong>
        <i class="fa fa-angle-down "></i>
         <span class="value">{{firstName}} {{lastName}} {{email}} {{phoneNumber}} {{country}}</span>
      </h4>
   </a>
   <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

               <p class="returning">Returning guest? <a href="#">Sign in</a></p>
               <form action="#" class="row">
                  <div class="col-sm-6">
                    <div class="form-group form-inline ">
                        <label for="titlename">Title</label>
                        <input type="text" id="titlename" class="form-control" name="titlename" value="{{title}}">
                     </div>
                     <div class="form-group form-inline">
                        <label for="middlename">Middle Name</label>
                        <input type="text" id="middlename" class="form-control" name="middlename" value="{{middleName}}">
                     </div>
                     <div class="form-group form-inline">
                        <label for="addressline1" >Address Line 1</label>
                        <input type="text" id="addressline1" class="form-control" name="addressline1" value="{{address1}}">
                     </div>
                     <div class="form-group form-inline">
                        <label for="city">City</label>
                        <input type="text" id="city" class="form-control" name="city" value="{{city}}">
                     </div>
                     <div class="form-group form-inline">
                         <label for="zip" >Zip</label>
                        <input type="text" id="zip" class="form-control" name="zipcode" value="{{zip}}">
                     </div>
                     <div class="form-group form-inline">
                        <label for="telephone" >Phone Number</label>
                        <input type="text" id="telephone" class="form-control" name="telephone" value="{{phoneNumber}}">
                     </div>
                     
                    
                     
                  </div>
                  <div class="col-sm-6">
                     <div class="form-group form-inline">
                        <label for="firstname">First Name</label>
                        <input type="text" id="firstname" class="form-control" name="firstname" value="{{firstName}}">
                     </div>
                     <div class="form-group form-inline">
                        <label for="lastname">Last Name</label>
                        <input type="text" id="lastname" class="form-control" name="lastname" value="{{lastName}}">
                     </div>
                     <div class="form-group form-inline">
                        <label for="addressline2">Address Line 2</label>
                        <input type="text" id="addressline2" class="form-control" name="addressline2" value="{{address2}}">
                     </div>
                     <div class="form-group form-inline">
                        <label for="state">State</label>
                        <select name="state" id="state" class="form-control">
                           <option value="" disabled selected>State</option>
        
                        </select>
                     </div>
                     <div class="form-group form-inline">
                        <label for="country">Country</label>
                        <select name="country" id="country" class="form-control">
                           <option value="" disabled selected>Country</option>
                           <option value="us" {{#ifCond country 'United States' }} selected {{/ifCond}}>Unites States</option>
                           <option value="mx" {{#ifCond country 'Mexico' }} selected {{/ifCond}}>Mexico</option>
                           <option value="ch" {{#ifCond country 'China' }} selected {{/ifCond}}>China</option>
                           <option value="au" {{#ifCond country 'Australia' }} selected {{/ifCond}}>Australia</option>
                           <option value="uk" {{#ifCond country 'United Kingdom' }} selected {{/ifCond}}>United Kingdom</option>           
                        </select>
                     </div>
                     <div class="form-group form-inline">
                        <label for="email" >
                        Email
                        </label>
                        <input type="text" id="email" class="form-control" name="email" value="{{email}}">
                     </div>
                     
                  </div>
               </form>
               <div class="joinclub row">
                   <div class="col-sm-6">
                     <div class="form-group form-inline ">
                        <label for="carlsonnumber">Club Carlson Number</label>
                        <input type="text" id="carlsonnumber" class="form-control" name="carlsonnumber" value="{{carlsonnumber}}">
                     </div>
                   </div>
                   <div class="col-sm-4 pull-right">
                     <div class="form-group form-inline ">
                     <span >Not a member?</span> <a class="joinnow">Join Club Carlson Today!</a>
                     </div>
                   </div>
                   <div class="triangle"></div>
               </div>
               <div class="carlsonform row" >
                  <header>
                     <img src="assets/img/carlsonlogo.png" />
                     <span class="closeform">X</span>

                  </header>
                  <div class="col-md-5">
                     <p>Create a Club CarlsonSM <a>account</a> now for faster checkout, easy itinerary access, free Wi-Fi access, and other superior benefits, services, and priviledges at any of our 1000+ hotels worldwide</p>
                     <p>Joining Club CarlsonSM constitutes your acceptance of the <a>terms and conditions and privacy policy</a> of the Club Carlson hotel rewards program.</o>
                  </div>
                  <div class="col-md-5 pull-right">
                     <div class="form-group form-inline ">
                        <label >Create Password</label>
                        <input type="password" id="" class="form-control" name="" >
                     </div>
                     <div class="form-group form-inline ">
                        <label >Confirm Password</label>
                        <input type="password" id="" class="form-control" name="" >
                     </div>
                     <div class="formpolicy">
                        <span class="pull-right"><a>Promotional Code</a> (optional)</span>
                        <p class="small"><input type="checkbox" >
                            Yes, I would like to receive updates on news and special offers from Club Carlson and Carlson Rezidor hotels.
                         </p>
                         <p class="small"><input type="checkbox" >
                            Yes, I would like to receive a printed member card and program materials.
                         </p>
                     </div>
                  </div>
               </div>

      </div>
   </div>
</section>