<div>
	<h1 class="sr-only">Hotel Information</h1>
	<h5>{{hotelBrandName}}</h5>
	<h3>{{hotelName}}</h3>
	<div class="address">
		{{address.line1}}
		{{cityName}}
		{{address.stateCode}}
        {{address.postalCode}}
		{{phone.fullNumber}}
	</div>
</div>