

<div>
	<h1 class="sr-only">Hotel Information</h1>
	<div class="address">
		{{field_address.thoroughfare}},
		{{field_address.stateCode}}, {{field_address.postal_code}}
		
        
		{{field_address.phone_number}}

		{{miles}}
	</div>
</div>