<ul class="nav nav-tabs top-search-pane">
  <li class="search-box no-shadow col-xs-8 col-sm-4 col-md-4">
    <input type="search" placeholder="{{ include.placeholder }}" value="{{city}}" class="input-value" />
  </li>
  <li class="col-xs-2 col-sm-5 col-md-2">
  		<a>
	    <div class="reservation-info">
	    	<label class="dateIn" id="dateIn"> {{dateIn}}</label>
	    </div>
	    </a>
  </li>
  <li class="col-xs-2 col-sm-5 col-md-2">
      <a>
      <div class="reservation-info">
        OUT<label>{{dateOut}}</label>
      </div>
      </a>
  </li>
  <li class="col-xs-2 col-sm-3 col-md-4">
  	<a>
    <span class="fa fa-hotel"></span>
    <div class="reservation-info">
	    ROOMS<label>{{numRooms}}</label>
	    GUESTS<label>{{numGuests}}</label>
      <span class="btn-primary pull-right">CHANGE</span>
    </div>
    </a>
  </li>
</ul>