
<div id="promotions-carousel" class="owl-carousel owl-theme">
     
      <div class="item"><div class="promotion">
			<img src="assets/img/promotions/promotion1.jpg" />
			<div>
				<h3>{{promoTitle}}</h3>
				<p>{{promoDesc}}</p>
				<a href="#">Find out more</a>
			</div>
			
		</div></div>
      <div class="item"><div class="promotion">
			<img src="assets/img/promotions/promotion1.jpg" />
			<div>
				<h3>{{promoTitle}}</h3>
				<p>{{promoDesc}}</p>
				<a href="#">Find out more</a>
			</div>
			
		</div></div>
      <div class="item">
      	<div class="promotion">
			<img src="assets/img/promotions/promotion2.jpg" />
			<div>
				<h3>{{promoTitle}}</h3>
				<p>{{promoDesc}}</p>
				<a href="#">Find out more</a>
			</div>
			
		</div>
	</div><div class="item">
      	<div class="promotion">
			<img src="assets/img/promotions/promotion3.jpg" />
			<div>
				<h3>{{promoTitle}}</h3>
				<p>{{promoDesc}}</p>
				<a href="#">Find out more</a>
			</div>
			
		</div>
	</div><div class="item">
      	<div class="promotion">
			<img src="assets/img/promotions/promotion1.jpg" />
			<div>
				<h3>{{promoTitle}}</h3>
				<p>{{promoDesc}}</p>
				<a href="#">Find out more</a>
			</div>
			
		</div>
	</div><div class="item">
      	<div class="promotion">
			<img src="assets/img/promotions/promotion2.jpg" />
			<div>
				<h3>{{promoTitle}}</h3>
				<p>{{promoDesc}}</p>
				<a href="#">Find out more</a>
			</div>
			
		</div>
	</div>
     
</div>


<!--
	<div class="container">
	<div class="row">
	<h1>Todays Deals</h1>
	<div class="col-sm-4">
		<div class="promotion">
			<img src="assets/img/promotions/promotion1.jpg" />
			<div>
				<h3>Kids Stay and Eat Free</h3>
				<p>Your VIP's stay and eat for free, and are free to eplore all the hotel has to offer</p>
			</div>
			<a href="#">Find out more</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="promotion">
			<img src="assets/img/promotions/promotion1.jpg" />
			<div>
				<h3>Kids Stay and Eat Free</h3>
				<p>Your VIP's stay and eat for free, and are free to eplore all the hotel has to offer</p>
			</div>
			<a href="#">Find out more</a>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="promotion">
			<img src="assets/img/promotions/promotion1.jpg" />
			<div>
				<h3>Kids Stay and Eat Free</h3>
				<p>Your VIP's stay and eat for free, and are free to eplore all the hotel has to offer</p>
			</div>
			<a href="#">Find out more</a>
		</div>
	</div>
</div>

</div>-->