<section class="summary-reservation">
                <header>
                    <h1 class="summary-reservation-heading">Your Reservation</h1>
                    <h2 class="summary-reservation-hotel">{{hotelBrandName}} {{hotelName}}</h2>
                    <h3 class="summary-reservation-dates">{{dateIn}} - {{dateOut}}</h3>
                    <h4 class="summary-reservation-room-guests">{{numRooms}} room, {{numGuests}} adults</h4>
                </header>
                <div class="summary-reservations">


                    <article class="summary-reservation-row">
                        <div class="row">
                            <div class="col-xs-8 summary-reservation-row-left">
                                <h1 class="summary-reservation-name"><strong>{{selectedRoom}} Room with {{#ifCond selectedBed 'Double'}}{{else}}One {{/ifCond}}{{selectedBed}} Bed</strong></h1>
                                <span class="summary-reservation-room">1 night at {{price}} nightly rate</span>
                            </div>
                            <div class="col-xs-4 summary-reservation-row-right text-right">
                                <span class="summary-reservation-price">${{price}}</span>
                            </div>
                        </div>
                    </article>

                </div>
                <footer>
                    <!--Subtotal and tax-->
                    <section class="summary-reservation-calcs">
                        <div class="summary-reservation-subtotal clearfix">
                            <span class="summary-reservation-subtotal-title">Subtotal</span>
                            <span class="summary-reservation-subtotal-price pull-right">${{price}}</span>
                        </div>
                        <div class="summary-reservation-tax clearfix">
                            <span class="summary-reservation-tax-title">Taxes &amp; Fees</span>
                            <span class="summary-reservation-tax-price pull-right">{{taxPrice}}</span>
                        </div>
                    </section>

                    <!--Total and labels with guarantee-->
                    <section class="summary-reservation-total">
                        <div class="clearfix">
                            <span class="summary-total-label">Total Price</span>
                            <span class="summary-total-price pull-right">${{totalPrice}}</span>
                        </div>
                        <div class="summary-reservation-promise text-right">Best Rate Guaranteed</div>
                        <div class="summary-reservation-terms text-right"></div>
                        <div class="summary-reservation-additional"></div>
                    </section>

                    <footer>
            </section>