<section class="ribbon ribbon-success">
    <header class="ribbon-heading">


        <div class="container">
            <h4>
				<i class="fa fa-check-circle icon-round icon-round-sm icon-inverse-success"></i> <span class="name">We’ve emailed your reservation details to </span> <strong class="email">{{email}}</strong>	
			</h4>
        </div>


    </header>

</section>

<div class="container">
    <div class="row">
        <div id="menu-bar" class="col-xs-12">
            <ul class="list-inline">
                <li class="col-xs-6 col-sm-6 col-md-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-block btn-primary">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-coffee icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">Enhance your stay</div>
                                <div class="subtitle">add breakfast, golf package and more!</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-6 col-sm-6 col-md-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-block btn-primary">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-list-ul icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">Upgrade your room</div>
                                <div class="subtitle">starting at just $45 more per night</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-6 col-sm-6 col-md-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-block btn-primary">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-star icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">Earn points for this stay</div>
                                <div class="subtitle">join Club Carlson & earn 5,000 pts</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-6 col-sm-6 col-md-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-block btn-default">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-bed icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">Make another reservation</div>
                                <div class="subtitle">need to change or cancel?</div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>
        </div>
    </div>


    <section class="ribbon ribbon-default">
        <header class="ribbon-heading">

            <h3>Your Reservation</h3>

        </header>

        <section class="ribbon-action">



            <ul class="list-inline col-xs-12 col-sm-4 col-md-3 pull-right  btn-icon-group">



                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-mail-forward icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">send</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-calendar icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">add</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-print icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">print</div>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-pencil icon"></i>
                            </div>
                            <div class="content">
                                <div class="title">modify</div>
                            </div>
                        </div>
                    </a>
                </li>

            </ul>

        </section>

    </section>

    <div id="reservation-content">
        <div class="row">
            <div class="col-sm-3 col-xs-12" id="reservation-summary">
                <section id="hotel-name">
                    <h1>{{hotelBrandName}} {{hotelName}}</h1></section>


                <section class="list-actions list-clean ">
                    <ul class="list-group">



                        <li href="javascript:void(0)" class="list-group-item  clearfix ">
                            <div class="wrapper">

                                <div class="content col-xs-12">

                                    <span class="supratitle">Check In</span>



                                    <span class="title">{{dateIn}} at 11:00 AM</span>

                                </div>
                            </div>

                        </li>

                        <li href="javascript:void(0)" class="list-group-item  clearfix ">
                            <div class="wrapper">

                                <div class="content col-xs-12">
                                    <span class="supratitle">Check Out - 6 nights</span>
                                    <span class="title">{{dateOut}} at 13:00 PM</span>
                                </div>
                            </div>

                        </li>

                        <li href="javascript:void(0)" class="list-group-item  clearfix ">
                            <div class="wrapper">

                                <div class="content col-xs-12">

                                    <span class="supratitle">Rooms and Guests</span>



                                    <span class="title">{{numRooms}} room, {{numGuests}} guest</span>

                                </div>
                            </div>

                        </li>

                        <li href="javascript:void(0)" class="list-group-item  clearfix ">
                            <div class="wrapper">

                                <div class="content col-xs-12">

                                    <span class="supratitle">Confirmation Number</span>



                                    <span class="title">GPVCCK5</span>

                                </div>
                            </div>

                        </li>

                    </ul>
                </section>
            </div>
            <div class="col-xs-12 col-sm-5 inverse" id="room-summary">
                <div class="row">
                    <section class="col-sm-6 summary-reservation">
                        <div class="summary-reservations">


                            <article class="summary-reservation-row">
                                <div class="row">
                                    <div class="col-xs-8 summary-reservation-row-left">
                                        <h1 class="summary-reservation-name"><strong>{{selectedRoom}} Room with {{#ifCond selectedBed 'Double'}}{{else}}One {{/ifCond}}{{selectedBed}} Bed</strong></h1>
                                        <span class="summary-reservation-room">{{perNight}} nights at ${{price}} nightly rate</span> </div>
                                    <div class="col-xs-4 summary-reservation-row-right text-right">
                                        <span class="summary-reservation-price">${{price}}</span>
                                    </div>
                                </div>
                            </article>

                        </div>
                        <footer>
                            <!--Subtotal and tax-->
                            <section class="summary-reservation-calcs">
                                <div class="summary-reservation-subtotal clearfix">
                                    <span class="summary-reservation-subtotal-title">Subtotal</span>
                                    <span class="summary-reservation-subtotal-price pull-right">${{price}}</span>
                                </div>
                                <div class="summary-reservation-tax clearfix">
                                    <span class="summary-reservation-tax-title">Taxes &amp; Fees</span>
                                    <span class="summary-reservation-tax-price pull-right">${{taxPrice}}</span>
                                </div>
                            </section>

                            <!--Total and labels with guarantee-->
                            <section class="summary-reservation-total">
                                <div class="clearfix">
                                    <span class="summary-total-label">Total Price</span>
                                    <span class="summary-total-price pull-right">${{totalPrice}}</span>
                                </div>
                                <div class="summary-reservation-promise text-right">Best Rate Guaranteed</div>
                                <div class="summary-reservation-terms text-right"></div>
                                <div class="summary-reservation-additional"></div>
                            </section>

                            <footer>
                    </section>
                    <section class="col-sm-6 summary-reservation">
                        <div class="description-summary">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <p>Excepteur sint occaecat cupidatat non proident.</p>
                            </div>
                    </section>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 map-pane">
                <section class="map-info">
                    <div class="row">
                        <section class="col-xs-12 map-address">
                            <h1 class="sr-only">Hotel Address</h1>
                            <h2 class="name org" itemprop="name">{{hotelBrandName}} {{hotelName}}</h2>
                            <ul class="list-unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <li itemprop="streetAddress">{{address.line1}}</li>
                                <li itemprop="addressRegion">{{cityName}}, {{address.stateCode}}</li>
                                <li itemprop="postalCode">{{address.postalCode}}</li>
                            </ul>
                        </section>

                        <section class="col-xs-12 list-links map-links">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-phone icon"></i>
                                        <span class="tel" itemprop="telephone">{{phone.fullNumber}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-envelope-o icon"></i>
                                        <span class="email" itemprop="email">Email the hotel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-building-o icon"></i>
                                        <span class="url" itemprop="url">Hotel website</span>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <section class="map-image">
        <h1 class="sr-only">Hotel Map</h1>
        <div>
            <div class='content-container maps embed-container'>
                <iframe style="pointer-events: none;" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyD1w6sLwoR7_XIFiPlbm3EA02NWmswjrM8&q=44.852963,-93.24176&zoom=15&maptype=roadmap&center=44.853113, -93.251514" width="100%" height="" frameborder="0" style="border:0"></iframe>
                <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
                <script>
                    function initialize() {
                        var mapOptions = {
                            zoom: 4,
                            center: new google.maps.LatLng(41.8865739, -87.6199293),
                            disableDefaultUI: true
                        }
                        var map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <div id="map-canvas"></div>
            </div>
        </div>
    </section>

    <div class="bottom-section">

        <section id="guest_info_section" class="col-md-5 guest-info-section">
            <article>
                <p class="guest-title">Guest Information</p>
                <ul class="list-unstyled">
                    <li>{{firstName}} {{lastName}}</li>
                    <li>{{email}}</li>
                    <li>{{phoneNumber}}</li>
                    <li>Club Carlson </li>
                    <li>#1234567</li>
                </ul>
                <div class="crib">Crib Requested
                    <br/>

                    <p>
                        Special requests can not be guaranteed and are subject to availability.
                    </p>
                </div>
            </article>
        </section>
        <div class="col-md-7 guarantee-section">
            <div class="row">
                <section id="guarantee_section" class="col-md-7 col-sm-6 clearfix">
                    <article>

                        <h5>Guarantee Policy</h5>
                        <div>
                            Your reservation is guaranteed to {{creditCardInfo.cardName}} ending in {{lastCardDigits}}.
                        </div>
                        <div>
                            Your card will be billed ${{totalPrice}} by the hotel at time of booking.
                        </div>

                    </article>
                    <article>
                        <h5>Cancellation Policy</h5>
                        <div>
                            Cancel free until 6:00 PM hotel time on {{cancelFree}}.
                        </div>
                        <div>
                            Late cancellations or no shows will be charged ${{totalPrice}}.
                        </div>
                    </article>
                </section>
                <section class="col-md-5 col-sm-6">
                    <article>
                        <h5 class="need-to-know">Need to Know</h5>

                        <p>
                            Photo ID and credit card required at check in.
                        </p>
                        <p>
                            100% non-smoking rooms.
                        </p>
                        <p>
                            A $50 departure fee will be charged when checking out prior to the departure date.
                        </p>

                    </article>
                </section>
            </div>
        </div>
    </div>
</div>