

<div class="container">
    
    <div class="row">
        <section class="ribbon ribbon-success col-md-12">

            <h4>
                <i class="fa fa-check-circle-o icon-round icon-round-sm icon-inverse-success"></i> <span>Thank you {{firstName}}!  </span>
            </h4>
            <div class="pull-right confirmationnumber"><p>Confirmation Number: <strong>GPVCCK5</strong> <br>
            <span class="name">We’ve emailed your reservation details to </span> <strong class="email">{{email}}</strong></p>
            </div>

    </section>

      
    </div>
    <div class="row upsells">
         <div class="col-md-4">
            <img src="assets/img/promotions/upsell1.jpg" />
        </div>
         <div class="col-md-4">
            <img src="assets/img/promotions/upsell2.jpg" />
        </div>
         <div class="col-md-4">
            <img src="assets/img/promotions/upsell3.jpg" />
        </div>
    </div>
    <div class="socialactions row">
        <div class="col-md-6 scl">
            <span>Share</span>
             <i class="fa fa-facebook"></i>
             <i class="fa fa-twitter"></i>
             <i class="fa fa-pinterest"></i>
        </div>
        <div class="col-md-6">
            <span class="btn btn-bookagain  pull-right">Book Again</span>
        </div>
    </div>


    <!--<section class="ribbon ribbon-default ">
        <header class="ribbon-heading">

          

        </header>

        <section class="ribbon-action">



           

        </section>

    </section>-->

    <div id="reservation-content" class="row">
          <h3 class="">Your Reservation <ul class="list-inline col-xs-12 col-sm-4 col-md-2 pull-right  btn-icon-group">



                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-mail-forward icon"></i>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-calendar icon"></i>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-print icon"></i>
                            </div>
                        </div>
                    </a>
                </li>

                <li class="col-xs-3">
                    <a href="javascript:void(0)" class="btn btn-icon btn-icon-sm btn-block btn-action">
                        <div class="wrapper">
                            <div class="icon-wrapper ">
                                <i class="fa fa-pencil icon"></i>
                            </div>
                        </div>
                    </a>
                </li>

            </ul></h3> 
        
            <div class="col-sm-7 col-xs-12" id="reservation-summary">


                <section class="roominfosection">
                    <ul >
                         <li href="javascript:void(0)">
                            <div class="wrapper">
                                <div class="content">
                                    <span class="supratitle">Confirmation Number</span>
                                    <span class="title">GPVCCK5</span>
                                </div>
                            </div>
                        </li>
                         <li href="javascript:void(0)" >
                            <div class="wrapper">

                                <div class="content">

                                    <span class="supratitle">Check In</span>



                                    <span class="title">{{dateIn}} at 11:00 AM</span>

                                </div>
                            </div>
                        </li>
                        <li href="javascript:void(0)">
                            <div class="wrapper">

                                <div class="content ">
                                    <span class="supratitle">Check Out - 6 nights</span>
                                    <span class="title">{{dateOut}} at 13:00 PM</span>
                                </div>
                            </div>

                        </li>
                        <li href="javascript:void(0)" >
                            <div class="wrapper">
                                <div class="content">
                                    <span class="supratitle">Rooms and Guests</span>
                                    <span class="title">{{numRooms}} room, {{numGuests}} guest</span>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </section>
                <section class="clubcarlsonmemb showadriana">
                    <h4>Welcome to Club Carlson</h4><img class="pull-right" src="assets/img/carlsonlogo.png "/>
                    
                    <p>Your <strong>Club CarlsonSM</strong> membership number is :</p>
                    <span class="membnumber">#2981232294817289</span>
                    <p>Your Club Carlson account has been created.</p>
 
                    <p>Now that you have created an account, your information will be saved for you so you can make reservations quickly and easily in the future.</p>
                     
                    <p>Please print this page so you will have a record of your account number. Visit ClubCarlson.com to view your member card and information. You can also download our Mobile app or choose Passbook or Google Wallet to save your digital card on your mobile devices.</p>
                </section>
                <section class="clubcarlsonmemb showcurt hidden">
                    <h4>Club CarlsonSM Membership</h4><img class="pull-right" src="assets/img/carlsonlogo.png " />
                    
                    <p>Your <strong>Club CarlsonSM</strong> membership number is :</p>
                    <span class="membnumber">#6029584738119230</span>

                </section>
                
            </div>
            <div class="col-xs-12 col-sm-5 inverse" id="room-summary">
                <div class="row">
                    <section class="summary-reservation">
                        <div class="summary-reservations">


                            <article class="summary-reservation-row">
                                <div class="row">
                                    <div class="col-xs-8 summary-reservation-row-left">
                                        <h1 class="summary-reservation-name"><strong>{{selectedRoom}} Room with {{#ifCond selectedBed 'Double'}}{{else}}One {{/ifCond}}{{selectedBed}} Bed</strong></h1>
                                        <span class="summary-reservation-room">{{perNight}} nights at ${{price}} nightly rate</span> </div>
                                    <div class="col-xs-4 summary-reservation-row-right text-right">
                                        <span class="summary-reservation-price">${{price}}.00</span>
                                    </div>
                                </div>
                            </article>

                        </div>
                        <footer>
                            <!--Subtotal and tax-->
                            <section class="summary-reservation-calcs">
                                <div class="summary-reservation-subtotal clearfix">
                                    <span class="summary-reservation-subtotal-title">Subtotal</span>
                                    <span class="summary-reservation-subtotal-price pull-right">${{price}}.00</span>
                                </div>
                                <div class="summary-reservation-tax clearfix">
                                    <span class="summary-reservation-tax-title">Taxes &amp; Fees</span>
                                    <span class="summary-reservation-tax-price pull-right">${{taxPrice}}</span>
                                </div>
                            </section>

                            <!--Total and labels with guarantee-->
                            <section class="summary-reservation-total">
                                <div class="clearfix">
                                    <span class="summary-total-label">Total Price</span>
                                    <span class="summary-total-price pull-right">${{totalPrice}}</span>
                                </div>
                                <div class="summary-reservation-promise text-right">Best Rate Guaranteed</div>
                                <div class="summary-reservation-terms text-right"></div>
                                <div class="summary-reservation-additional"></div>
                            </section>

                            <footer>
                    </section>
                     <section id="guarantee_section">

                        <h5>Guarantee Policy</h5>
                        <p>
                            Your reservation is guaranteed to {{creditCardInfo.cardName}} ending in {{lastCardDigits}}.
                        </p>
                        <p>
                            Your card will be billed ${{totalPrice}} by the hotel at time of booking.
                        </p>

                        <h5>Cancellation Policy</h5>
                        <p>
                            Cancel free until 6:00 PM hotel time on {{cancelFree}}.
                        </p>
                        <p>
                            Late cancellations or no shows will be charged ${{totalPrice}}.
                        </p>

                        <h5 class="need-to-know">Need to Know</h5>

                        <p>
                            Photo ID and credit card required at check in.
                        </p>
                        <p>
                            100% non-smoking rooms.
                        </p>
                        <p>
                            A $50 departure fee will be charged when checking out prior to the departure date.
                        </p>

                    </article>
                </section>
                </div>
            </div>
            
        
    </div>

   
</div>
 <section class="map-image">
        <h1 class="sr-only">Hotel Map</h1>
        <div class="map-pane container">
                <section class="map-info">
                    <div class="row">
                        <section class="col-xs-12 map-address">
                            
                            <ul class="list-unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <li itemprop="streetAddress">{{field_address.thoroughfare}}</li>
                                <li itemprop="addressRegion">{{field_address.locality}}, {{field_address.administrative_area}}</li>
                                <li itemprop="postalCode">{{field_address.postal_code}}</li>
                            </ul>
                        </section>

                        <section class="col-xs-12 list-links map-links">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="tel" itemprop="telephone">{{field_address.phone_number}}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="email" itemprop="email">Email the hotel</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="url" itemprop="url">Hotel website</span>
                                    </a>
                                </li>
                            </ul>
                        </section>
                    </div>
                </section>
            </div>
        <div>
            <div class='content-container maps embed-container'>
                <iframe style="pointer-events: none;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11881.168560695996!2d-87.6199293!3d41.8865739!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x85b5501249f7cd4b!2sRadisson+Blu+Aqua+Hotel+Chicago!5e0!3m2!1ses-419!2smx!4v1455816525690" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
                <script>
                    function initialize() {
                        var mapOptions = {
                            zoom: 4,
                            center: new google.maps.LatLng(41.8865739, -87.6199293),
                            disableDefaultUI: true
                        }
                        var map = new google.maps.Map(document.getElementById('map-canvas'),
                            mapOptions);
                    }

                    google.maps.event.addDomListener(window, 'load', initialize);
                </script>
                <div id="map-canvas"></div>
            </div>
        </div>
    </section>